@charset "shift_jis";

/* -------------------------------------------------------------

[1] ���C�A�E�g�Ɋւ���w��
[2] �w�b�_�[�u���b�N���Ɋւ���w��
[3] �R���e���c�u���b�N���Ɋւ���w��
[4] �t�b�^�[�u���b�N���Ɋւ���w��
[5] CSS�f�U�C���T���v�������N�w��

----------------------------------------------------------------
CSS�f�U�C���T���v [ URL ] http://www.css-designsample.com
------------------------------------------------------------- */


/* �ꊇ�őS�Ă̗v�f�̗]�����[���Ɏw�� */
* {
    margin: 0;
    padding: 0;
}

/* �S�̓I�ȃ����N */

a:link,
a:visited,
a:hover,
a:active { text-decoration: underline; }

a:link { color: #00f; }

a:visited { color: #90f; }

a:hover { color: #f00; }

a:active { color: #f00; }

/* -------------------------------------------------------------
   [1] ���C�A�E�g�Ɋւ���w�� */
body {
    font-size: 85%;
    text-align: center;
    font-family: "�q���M�m�p�S Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "�l�r �o�S�V�b�N", "MS PGothic", sans-serif;
    padding: 0;
    margin: 0;
    background: url(../img/firefire.jpg) no-repeat 0 0;
}

/*-- �S�̂��͂�ł��܂� --*/
#wrapper {
    text-align: left;
    width: 800px;
    margin: 0 auto;
    border-left: 1px solid #666;
    border-right: 1px solid #666;
}

/*-- �w�b�_�[���� --*/
#header {
    width: 100%;
    height: 80px;
    position: relative;

}

/*-- �R���e���c���� 740px --*/
#contents { padding: 20px 30px; }

/*-- �t�b�^�[���� --*/
#footer {
    width: 802px;
    margin: 0 auto;
    padding: 0.5em 0 0.5em;
    background-color: #333;
}

/* -------------------------------------------------------------
   [2] �w�b�_�[�u���b�N���Ɋւ���w�� */

/* ���o�� */

h1 {
    font-size: 100%;
    font-weight: normal;
    text-align: right;
    position: absolute;
    top: 10px;
    left: 30px;
    color: #666;
}

/* �T�C�g�^�C�g�� */
.logo {
    font-size: 160%;
    position: absolute;
    top: 30px;
    left: 30px;
}

.logo a {
    font-weight: bold;
    color: #000;
    text-decoration: none;
}

.logo a:hover {
    color: #f00;
    text-decoration: none;
}

/* �T�v */
.description {
    line-height: 1.5em;
    position: absolute;
    bottom: 45px;
    left: 30px;
    color: #000;
}

/*---------------------------------------�O���[�o���i�r����*/
#globalnavi {
    font-size: 95%;
    list-style-type: none;
    width: 800px;
    height: 40px;
    position: absolute;
    bottom: 0;
    left: 0;
}

#globalnavi li {
    width: 200px;
    float: left;
}

#globalnavi li a {
    text-align: center;
    text-decoration: none;
    width: 200px;
    height: 28px;
    display: block;
    padding-top: 12px;
    background-image: url(../img/bg-globalnavi.jpg);
    background-repeat: no-repeat;
    color: #9f0
}

#category01 a { background-position: 0 0; }

#category02 a { background-position: -200px 0; }

#category03 a { background-position: -400px 0; }

#category04 a { background-position: -600px 0; }

#globalnavi li a:hover {
    text-decoration: none;
    background-image: url(img/bg-globalnavi.jpg);
    background-repeat: no-repeat;
    color: #fff;
}

#category01 a:hover { background-position: 0 -40px; }

#category02 a:hover { background-position: -200px -40px; }

#category03 a:hover { background-position: -400px -40px; }

#category04 a:hover { background-position: -600px -40px; }

/*--�T�u���j���[����--*/

#globalnavi ul {
    list-style-type: none;
    width: 200px;
    height: auto;
    position: static;
}

#globalnavi ul li {
    width: 200px;
    float: none;
}

#globalnavi ul li a {
    text-align: left;
    text-decoration: none;
    width: 190px;
    height: auto;
    display: block;
    padding: 4px;
    border: 1px outset #690;
    background-image: none;
    background-color: #690;
    color: #000;
}

#globalnavi ul li a:hover {
    text-decoration: none;
    border: 1px outset #666;
    background-image: none;
    background-color: #666;
    color: #fff;
}

#globalnavi .menu ul { display: none; }

#globalnavi .menuOn ul { display: block; }

/* -------------------------------------------------------------
   [3] �R���e���c�u���b�N���Ɋւ���w�� */

/* ���o�� */
h2,
h3,
h4,
h5,
h6 {
    font-size: 140%;
    font-weight: normal;
    margin-bottom: 0.5em;
    padding: 3px 0 2px;
    color: #030;
    border-top: 2px solid #9c0;
    border-bottom: 1px solid #ccc;
}

h3,
h4,
h5,
h6 { margin-top: 2em; }

/* ���� */
#contents p {
    line-height: 1.5em;
    margin-bottom: 1em;
}

/* -------------------------------------------------------------
   [5] �t�b�^�[�u���b�N���Ɋւ���w�� */

#footer p {
    text-align: center;
    color: #fff;
}

/* -------------------------------------------------------------
   [6] CSS�f�U�C���T���v�������N�w�� */

#cds {
    font-size: 80%;
    font-family: Geneva, Arial, Helvetica, sans-serif;
    text-align: right;
    margin: 0;
    padding-right: 20px;
    clear: both;
}

#cds,
#cds a,
#cds a:hover {
    text-decoration: none;
    color: #ccc;
}

/* SmartPhone用 ウィンドウ幅が0〜479pxの場合に適用する */
@media screen and ( max-width:479px )

{
    /* ボディ */
    body
    {
        font-size: 13px ;	/* 文字サイズ */
        background: url(../img/smartfire.png) no-repeat 0 0;

    }

    #header
    {

        border-bottom: 3px solid #888 ;		/* 枠線 */
        text-align: center ;				/* テキスト、画像の真ん中寄せ */
        padding: 1em 0 ;					/* 上下の余白 */
        margin-bottom: 2em ;				/* 他のブロックとのスペース */


    }
    #wrapper
    {
        width: auto;
        margin: 0 ;			/* スペース */
        padding: 0 10px;		/* 余白 */
        line-height: 1 ;	/* 行の高さ */
    }
    #footer
    {
        width: auto;
    }
    img{
        max-width: 90% ;		/* 横幅の90% */
        height: auto ;			/* 縦幅を自動調整 */
    }
}